[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"
drf-nested-routers = "*"
django-filter = "*"
djoser = "*"
djangorestframework-simplejwt = "*"
pillow = "*"
django-cors-headers = "*"
django-templated-mail = "*"
celery = "*"
redis = "*"
mysqlclient = "*"
flower = "*"
razorpay = "*"
payu = "*"
django-paypal = "*"
django = "*"
paypalrestsdk = "*"
pytest = "*"
pytest-django = "*"
pytest-watch = "*"
model-bakery = "*"
locust = "*"
django-redis = "*"
twisted = {extras = ["http2", "tls"], version = "*"}
twilio = "*"
requests = "*"

[dev-packages]
django-silk = "*"

[requires]
python_version = "3.11"
