.add-to-cart {
    background-color: #008080; /* Deep Teal */
    color: white; /* Text color for contrast */
    padding: 10px 20px; /* Button padding */
    border: none; /* Remove default border */
    border-radius: 5px; /* Smooth corners */
    cursor: pointer; /* Pointer cursor on hover */
    font-size: 16px; /* Adjust font size */
    transition: background-color 0.3s ease; /* Smooth hover effect */
  }
  
  .add-to-cart:hover {
    background-color: #006666; /* Darker teal for hover */
  }
  

  .success-message {
    background-color: transparent; /* No background color */
    color: #4CAF50; /* Green text color */
    padding: 10px;
     /* Green border */
    
    text-align: center;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: opacity 0.5s ease;
    margin: 10px;
    position: absolute; /* Positioned relative to the container */
    top: 0; /* Align it to the top */
    left: 50%; /* Center it horizontally */
    transform: translateX(-50%); /* Offset by 50% to center it */
    width: auto;
    z-index: 10; /* Ensure it's above other content */
  }
  
  
  